[submodule ".doom.d"]
	path = .doom.d
	url = git@github.com:visika/.doom.d.git
[submodule ".config"]
	path = .config
	url = git@github.com:visika/.config.git
[submodule ".fonts"]
	path = .fonts
	url = /home/visika/.fonts
